h2 {
    width: 35%;

}

h1 {
    font: 200% sans-serif;
    color: rgb(194, 20, 116);
    background-color: rgb(120, 241, 241);
    height: 100px;
    width: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3 {
    color: rgb(150, 189, 8);
    background-color: beige;
    width: 30%;
}

body {
    color: black;
}

img {
    height: 500px;
    width: 400px;
}
.imgAdd{
    width: 500px; 
    height: 500px ;   
}
#birthday {
    font: 30px sans-serif;
    color: rgb(185, 214, 19);
    background-color: blueviolet;
    width: 50%;
}

#bangladesh {
    font: 40px sans-serif;
    color: rgb(231, 22, 120);
    background-color: rgb(238, 193, 138);
    width: 45%;
}

.friend {
    color: rgb(243, 155, 155);
    background-color: rgb(158, 219, 77);
    width: 50%;
}

.neighbor {
    width: 400px;
    background-color: darkred;
    color: rgb(108, 235, 92);
}

.romantic {

}

.blog {
    color: darkgreen;

}

.blog {
    border: 10px solid coral;
    border-radius: 40px;
    margin: 20px;
    padding: 10px 20px;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
}

.blog {

}
/* 

body{
    background-color: red;
}
.firsth2 {
    border: 5px solid coral;
    padding: 50px 90px;
    margin: 15px;
    border-radius: 40px;
    color: aqua;
}

.btn1 {
    padding: 10px 40px;
    background-color: #FF2C7F;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
}

.btn2 {
    padding: 10px 40px;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid;
    color: #F3F5F9;
    background: transparent;
}

.btn3 {
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
} */